body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none;
}

#intro {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
}

#gameUI {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}

img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border: 3px solid white;
}
#inventorySection {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9em;
}

#inventorySection h4 {
  margin-bottom: 5px;
  color: #fff;
}

#inventoryList {
  list-style-type: none;
  padding-left: 0;
}

#inventoryList li {
  margin-bottom: 5px;
  color: #eee;
}

.inventory-button {
  margin-left: 10px;
  padding: 2px 6px;
  font-size: 0.8em;
  cursor: pointer;
  }
