body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: black;
}

#gameContainer {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: 10%;
  border-radius: 10px;
}

.hidden {
  display: none;
}

button {
  margin: 5px 0;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
  }
